header {
  width: 100%;
}

nav {
  background-color: magenta;
}

.nav-name-items {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 15px 10px;
}

.new-post-container, .new-coment-container {
  display: none;
}
