header {
  width: 100%;
  position: fixed;
}

nav {
  background-color: #A6BB52;
}

strong {
  font-weight: 900;
  color: #338B51;
}

.nav-name-items {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 900;
}

.new-post-container, .new-coment-container, .options-profile-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E47C27;
}

.new-post-container > input {
  width: 30%;
  margin: 2px 0;
}

.new-post-container > textarea {
  width: 50%;
  margin: 2px;
}

.new-post-container > button {
  margin: 2px;
}

.options-profile-container {
  flex-direction: column;
  align-items: flex-end;
  padding: 2%;
  list-style: none;
}

.options-profile-container a{
  color: black;
  font-size: 20px;
}

.realizado {
  justify-content: center;
  background-color: green;
  margin-left: 70%;
  margin-right: 20%;
  margin-top: 1%;
  color: white;
  border-radius: 15px;
}

.cursor {
  cursor: pointer;
}
