.misposts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  background-color: #FFDAAB;
}

.misposts-imgs {
  justify-content: center;
  align-items: center;
}

.misposts-item {
 justify-content: center;
 align-items: center;
 border-radius: 180px;
 padding: 15px;
 width: 200px;
 height: 200px;
}

#visible {
  width: 100%;
  align-items: center;
  justify-content: center;
}

#no-visible {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
