.misposts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

.misposts-item {
 border-radius: 180px;
 padding: 15px;
 width: 15%;
}

#no-visible {
  display: none;
}
